@import "compass";
@import "breakpoint";
@import "helper/normalize";
@import "helper/h5bp";
@import "helper/blankwork";
@import "helper/andy";
@import "icon/*.png";

// Blankwork
$_gutter: 0;
$_column-width: 80px;
// Compass settings
$legacy-support-for-ie8: true;
$experimental-support-for-svg: true;
$icon-sprite-dimensions: true; /* Generate dimensions */
$disable-magic-sprite-selectors: true; /* Important to disable auto generate sprites class */
// Common variables
$main_font: Roboto, Helvetica, Arial, sans-serif;
$dark_orange: #cf4e33;
$gray: #473f38;
$textHeaderColor: #373737;
$textContentColor: #666666;
$backgroundColor: #efd7b4;
$normalFontSize: 12px;
$defaultPadding: 0 20px;
// Breakpoint
$xs: (max-width: 479px);
$sm: (max-width: 767px);
$md: (min-width: 768px);
$lg: (min-width: 1200px);
// We switch our box model to Border Box.
// From Paul Irish
*, *:before, *:after {
  @include box-sizing('border-box');
}
body{
	font-size: $normalFontSize;
	color: $textContentColor;
	font-family: $main_font;
	font-weight: 400;
	background: url(../img/bg.png) left top no-repeat $backgroundColor;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
// Heading
@for $i from 1 to 7 {
	h#{$i}{
		color: $textContentColor;
		font-size: 26px - $i*2;
		font-weight: 550;
	}
}
.wrapper{
	@include wrapper;
}
header{
	@include container;
}
#top-slider{
}
#menu{
	border-top: 5px solid $dark_orange;
	background-color: #FFF;
	ul{
		@include breakpoint($md){
			@include horizontal-list;
		};
		
		padding: $defaultPadding;
		a{
			padding: 0 20px;
			line-height: 50px;
			text-transform: uppercase;
			color: $textContentColor;
			font-weight: 700;
			&:hover{
				color: $dark_orange;
				text-decoration: none;
			}
		}
		li.active a{
			color: $dark_orange;
		}
	}
}
#main{
	@include container;
	background-color: #fff;
}
.left-content{
	@include column(8.5);
	@include alpha; // Margin left 0
}
.right-content{
	background-color: #f5f5f5;
	@include column(3.5);
	@include omega; // Margin right 0
	&>div{
		padding: $defaultPadding;
		margin: 20px 0;
	}
	.news{
		a{
			line-height: 35px;
			border-bottom: 1px dashed #e2e2e2;
			display: block;
			color: $dark_orange;
			&:before{
				content: '';
				display: inline-block;
				@include icon-sprite(arrow);
				margin-right: 5px;
			}
		}
	}
	.aboutus{
		min-height: 175px;
		color: #fff;
		background-color: $dark_orange;
		h1{
			color: #efd7b4;
		}
		a{
			color: #fff;
			text-decoration: underline;
		}
	}
}
#featured{
	height: 345px;
	background-color: $dark_orange;
	padding: $defaultPadding;
	padding-top: 20px;
	div.article-title{
		@include column(8.5*(4/12));/* 4 column from parent */
		color: #fff;
		a{
			color: #fff;
		}
	}
	div.article-image{
		@include column(8.5*(7/12));
		@include pull-right;
		img{
			@include img-responsive;
			border: 1px solid #fff;
			padding: 2px;
			background-color: #fff;
			@include box-shadow(0 8px 6px -5px black);
		}
	}
}
#search-box{
	margin:0;
	height: 70px;
	line-height: 70px;
	background-color: $gray;
	padding: $defaultPadding;
	input[type=text]{
		background-color: transparent;
		border-width: 0 0 1px 0;
		border-color: #564d45;
		padding: 5px 0;
		width: 80%;
		font-style: italic;
		color: #fff;
	}
	input[type=submit]{
		@include icon-sprite(btn-search);
		@include text-hide;
		border: 0;
	}
}
#specific-meals{
	padding: $defaultPadding;
	.meals{
		overflow: auto;
	}
	.meal{
		@include column(8.5*(4/12));
		margin-left: 20px;
		h6{
			margin: 2px;
			text-align: center;
			a{
				color: $dark_orange;
			}
		}
		img{
			@include img-responsive;
			border: 1px solid #e8e8e8;
			padding: 4px;
			@include box-shadow(0 8px 6px -5px black);
		}
		&:first-child{
			@include alpha;
		}
	}
}
#food-menu{
	margin-top: 20px;
	border-top: 5px solid $dark_orange;
	position: relative;
	.left-banner{
		position: relative;
		margin-top: -15px;
		margin-left: -15px;
		@include column(8.5*4/12);
	}
	.right-banner{
		margin-left: 5px;
		@include column(8.5*8/12);
		h2{
			margin: 25px 0 5px 0;
		}
		.foods{
			overflow: auto;
		}
		.food{
			margin-left: 10px;
			@include column(8.5*3.7/12);
			img{
				float: left;
				margin: 0px 5px 5px 0;
				@include img-responsive;
				border: 1px solid #e8e8e8;
				padding: 4px;
				@include box-shadow(0 8px 6px -5px black);
			}
			a{
				color: $dark_orange;
			}
		}
		.maps{
			margin-top: 10px;
		}
	}
}

footer{
	@include container;
	
	.footer-info{
		color: #fff;
		.decor{
			background: url(../img/decor-bg.png) left bottom repeat-x #fff;
			height: 4px;
		}
		background: url(../img/botsl-bg.png) left bottom repeat-x #473f38;
		overflow: auto;
		.footer-item{
			@include column(4);
			text-align: center;
			h4{
				color: #f3debf;
			}
			&.about-info{
				text-align: left;
				padding-left: 20px;
			}
			&.contact-call{
				padding-top: 20px;
			}
			&.social{
				ul{
					li:first-child{
						margin-left: 33%;
					}
					@include horizontal-list;
					a{
						display: block;
						@include size(30px,30px);
					}
				}
			}
		}
	}
	.copyright{
		background-color: #111;
		line-height: 40px;
		padding-left: 20px;
	}
	.decor-footer{
		background: url(../img/decor-bg1.png) left bottom repeat-x #fff;
		height: 5px;
	}
}